{% extends "page.html" %} 

{% block title %}CourseName{% endblock %} 

{% block nav %}
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/books/">Books</a></li>
<li class="nav-item active"><a class="nav-link" href="/courses/">Courses</a></li>
<li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
{% endblock %}

{% block name %}A Study Of Placeholders{% endblock %}

{% block details %}
    <p>Taught By <a href="/profile/placeholder/">User McUser</a></p>
    <p>
        <strong>Average Rating: </strong> &#9733; &#9733; &#9733; <br>
        <strong>Started:</strong> 00/00/0000 <br>
        <strong>Details Updated:</strong> 00/00/0000 <br>
        <strong>Students:</strong> 20 <br>
        <a href="">Student List</a><br>  
        <strong>Required Books:</strong> 2 <br>
        <a href="">Book List</a><br>  
    </p>
    <p><strong>Description:</strong>Today we’re going to briefly discuss why lorem ipsum and its brethren still have legitimate uses and then we’ll have some fun as we check out thirty great dummy content generators that you’ll definitely want to bookmark.
        <br>
        Is Lorem Ipsum Useful?
        <br>
        The obvious idea is to start this article off with a description of lorem ipsum and where it came from, but as designers we pretty much all get the idea: it’s filler text. Perhaps a more relevant topic of discussion is whether or not you should ever really use lorem ipsum in your work.</p>
    <p><a href="/book/placeholder/reviews/">View Reviews</a></p>
{% endblock %}